
.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.editor-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.editor {
    width: 50%;
    align-self: stretch;
}
